<h1>Import Apps and Extensions from SharePoint Online</h1>

<h4>Do you have a set of extensions and apps that you always use for your Qlik Sense demos?</h4>

<p>You can import these Apps and Extensions right away into Qlik Sense using the script 'Import_From_SharePoint.ps1' you'll find on the Desktop.</p>

<h3>HOW TO</h3>

<ol>
<li value="1">Navigate to Qlik SharePoint online: <a target="blank" href="https://qliktechnologies365-my.sharepoint.com">https://qliktechnologies365-my.sharepoint.com</a></li>
 
<p>Here you need a folder with this structure:</p>

    
	<ul>
		<li>Your_Folder</li>
        <ul>
		<li>Extensions</li>  
		<ul>
			<li>extension1.zip</li>
			<li>extension2.zip</li>	
			<li>...</li>
		</ul>    
		<li>Apps</li>  
		<ul>
			<li>app1.qvf</li>
			<li>app2.qvf</li>
			<li>SubFolder1</li>
			<ul>
				<li>app3.qvf</li>
			</ul>
			<li>SubFolder2</li>
			<ul>
				<li>app4.qvf</li>
			</ul>    
			<li>...</li>
		</ul>
		</ul>
	</ul>

<li>
	<p>Navigate into that folder in your browser.Then copy the entire Url from the browser. It should look something similar to this: </p>
    <p>https://qliktechnologies365-my.sharepoint.com/personal/TRIGRAM_qlik_com1/_layouts/15/onedrive.aspx?id=SOME_STUFF_HERE</p>
   	<p>Copy the whole URL!!</p>

</li>

<li><p>RDP with user 'qmi' into the VM that runs Qlik Sense (important! with user <b>qmi</b>).</p></li>



<li><p>On the Desktop, right click on <b>Import_From_SharePoint.ps1</b> and select 'Run with powershell'.</p></li>



<li><p>You'll be asked to enter the 'SharePoint Url'. Paste the url from 2.)</p></li>



<li><p>You'll be asked <b>SharePoint login</b>. Enter your username as trigram@qlik.com and password.</p></li>



<li><p>That's it!</p></li>

</ol>

<p>It will download the content and import the Extensions and Apps (and create streams out of 'SubFolderX') in Qlik Sense.</p>

<h4>Enjoy!!!</h4>
